body {
    background-color: rgb(204, 211, 183);
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Arial, sans-serif;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}